@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a, a:visited{
    text-decoration: inherit;
}

.bg{
    background-image: url("../img/fundo.png");
    background-size: auto;
    background-repeat: repeat;
    background-position: center center;
}

.header{
    background-color: #003d75;
    font-family: "DM Serif Display", serif;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 100px;
    margin-top: 90px;
}

.menu{
    display: flex;
    justify-content: space-around;
    margin-left: -200px;
    margin-top: 50px;
}

.menu-item{
    display: inline;
    color: #ffffff;
    font-size: 30px;
    padding-left: 0%;
    padding-bottom: 40px;
}

.link{
    text-decoration: none;
    color: #ffffff;
    padding-top: 38px;
    padding-bottom: 29px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    
}

.link:hover{
    background-color: #0062be;
    transition: .2s;
}

.login{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 40px;
    cursor: pointer;
}
.login:hover{
    width: 65px;
    height: 65px;
    transition: .2s;
    margin-right: 25px;
}

footer{
    background-color: #003d75;
    bottom: 0;
    width: 100%;
    height: auto;
}

.loguinho{
    width: 100px;
    height: 100px;
    margin: 5px auto;
    border-radius: 50%;
    display: block;
}

.foot {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.tbcn{
    display: inline;
    text-decoration: none;
    color: #ffffff;
    padding-left: 75px;
    text-align: center;
    font-size: 25px;
}

.ft{
    color: #ffffff;
    font-size: 20px;
}

.alg{
    margin-left: 848px;
}

.carrosel-base{
    overflow: hidden;
    width: 250px;
    height: 250px;
    border: 2px solid black;
}

.carrosel{
    display: flex;
}

.cars{
    width: 300px;
    height: 300px;
    display: inline-block;
}

.TEXT{
    display: inline-block;
    margin-top: -400px;
}
.tet{
    display: inline-block;
    padding: 8px;
}

h3{
    background-color: #fd7e14;
}

img{
    border-color: #fd7e14;
    border-width: 100px;

}
